<h1>Movie Phone</h1>
<link href='/main.css' rel='stylesheet' type='text/css' />
<ul>
  <li>
    <button>
      <a href='/films'>Film Index</a>
    </button>
  </li>
  <li>
    <button><a href='/genres'>Genre Index</a></button>
  </li>
  <li>
    <button><a href='/directors'>Director Index</a></button>
  </li>
</ul>